
<ul>
  <li style="font-size: larger"><a class="active" href="#home">MY CONTACT LIST</a></li>
  <!-- <li><a>Home</a></li>
  <li><a>Contacts</a></li> -->
</ul>

<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
            <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
          </button>
          <a href="#" class="navbar-brand" style="color:white; font-family:Verdana, Geneva, Tahoma, sans-serif;">MY CONTACTS</a>
        </div>

        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
          <ul class="nav navbar-nav navbar-right">
              <li routerLinkActive="active" class="button">
                <a routerLink="/recipe-book" style="color: white;">HOME</a>
              </li>
              <li routerLinkActive="active" class="button">
                <a routerLink="/auth" style="color: white;">CONTACTS</a>
              </li>
          </ul>

      </div>
  </div>
</nav> -->
