ul{
  z-index: 10000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #003f88;
  position:sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #00509d;
  cursor: pointer;
}

.active {
  background-color: #00296b;
}


/* .active a:visited{
  background-color: #4682B4;
  color: white;
}

.button a, .dropdown-menu a, .dropdown a{
  transition-duration: 0.5s;
}

.button a:hover, .dropdown-menu a:hover, .dropdown a:hover{
  background-color: #4682B4;
  color: white;
  cursor: pointer;
} */
