  <hr>
  <ul class="list-group" style="margin: auto; width: 40%; padding: 10px; background-color: #00509d;">
    <li class="list-group-item">
      <h3 style="text-align: center; font-family:Verdana, Geneva, Tahoma, sans-serif;">
      <b>Contact Details</b></h3>
      <hr>

      <ul class="list-group">
        <li class="list-group-item">
          <b>ID:</b> {{ id+1 }}
        </li>
        <li class="list-group-item">
          <b>Name:</b> {{this.contact.name}}
        </li>
        <li class="list-group-item">
          <b>Username:</b> {{this.contact.username}}
        </li>
        <li class="list-group-item">
          <b>Email Address:</b> {{this.contact.email}}
        </li>
        <li class="list-group-item">
          <b>Contact #:</b> {{this.contact.phone}}
        </li>
      </ul>

      <div class="row" style="text-align: center;">
        <button class="button" routerLink="/contacts"><span >Go Back </span></button>
       </div>

    </li>
  </ul>
